@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
    font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

section {
    margin: 30px 0 20px;
}

h1 {
    margin: 30px 0;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    margin: 0.4em 0;
    padding: 0.25em 0;
    border-bottom: 1px solid #aaa;
}

p {
    margin: 0;
}

ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.6em;
    margin: 4px 0;
    background-color: #9c89fc;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

label {
    display: block;
    margin-bottom: 4px;
}

input {
    outline: none;
    font: inherit;
    width: 100%;
    padding: 0.5em 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 0 18px;
}

.balance__table {
    display: flex;
    padding: 18px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 0 8px #ccc;
    border-radius: 4px;
}

.balance__cell {
    flex: 1;
    text-align: center;
}

.balance__cell:not(:last-child) {
    border-right: 1px solid #ccc;
}

.balance__label {
    font-weight: 700;
    text-transform: uppercase;
}

.balance__amount {
    font-size: 2.5rem;
    font-weight: 700;
}

.balance__amount--sub {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 4px 0;
}

.balance__cell--income .balance__amount {
    color: #46c35a;
}

.balance__cell--expense .balance__amount {
    color: #d33939;
}

.history__list {
    margin: 18px 0;
}

.history__item {
    display: flex;
    align-items: center;
    margin: 12px 0;
    padding: 10px 16px;
    min-height: 60px;
    background-color: white;
    box-shadow: 0 0 4px #bbb;
    border-radius: 4px;
    border-right: 6px solid #46c35a;
}

.history__item--expense {
    border-right-color: #d33939;
}

.history__title {
    flex: 1;
}

.history__menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 14px;
}

.history__menu li {
    opacity: 0.75;
    cursor: pointer;
}

.history__menu li:hover {
    opacity: 1;
}

.history__input-container {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}

.history__input--amount {
    width: 40%;
}

.add-new__field {
    margin: 14px 0;
}
